html,
body {
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Spoqa Han Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.main-content {
	margin: 0 auto;
	padding: 56px 20px;
	max-width: 800px;
}
